body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.flex-container {
    display: flex;
    align-items: center;
    padding: 2% 7% 2% 7%;
}

.half-width {
    width: 50%;
    padding: 5%;
    text-align: left;
}

h1 {
    font-size: 350%;
    margin: 0%;
}

h2 {
    font-size: 200%;
    margin: 0%;
    font-family: unset;
    text-decoration-style: 5px;
}

.color-text {
    color: rgb(243, 195, 93);
}

p {
    font-size: 110%;
    font-family: sans-serif;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 7px 17px;
    border-radius: 5px;
    color: rgb(241, 241, 241);
}

.headline {
    border-left: 7px solid crimson;
    padding: 0%;
}

img {
    width: 80%;
    padding-left: 5%;
}

.mission {
    text-align: center;
    padding: 2% 5% 2% 5%;
}

#card img {
    width: 40%;
    margin-left: 23%;
}

#card {
    box-shadow: 10px 5px 5px rgb(174, 201, 174);
    border-radius: 5%;
    padding: 2%;
    margin: 2%;
}

.mission-color {
    background-color: rgb(220, 238, 233);
}

.vission-color {
    background-color: rgb(240, 226, 241);
}

.goals-color {
    background-color: rgb(250, 249, 216);
}

footer {
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    padding: .5%;
}

footer h1 {
    font-size: 30px;
    font-family: 'Moon Dance', cursive;
}

span {
    color: crimson;
}

.about-img img {
    box-shadow: 10px 5px 5px rgba(96, 97, 96, 0.829);
    background-color: rgb(252, 245, 245);
    border-radius: 7%;
    padding-left: 0%;
}